@import '../../../node_modules/normalize.css/normalize';

@import 'variables';

@import './reset';

/*
Table of content
-Fonts
-General
-Web design
-Design effect
-Media queries
*/

/*--------------------------------- Fonts -------------------------------------*/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSans/eot/IRANSansWeb.eot');
	src: url('../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

/*--------------------------------- General -------------------------------------*/
body{
	font-family: IRANSans; 
	font-weight: 400; 
	text-align: right; 
	color: $text_color;   
	line-height: 35px; 
	background-color: $background_color; 
}
i{
	width: 10px;
	height: 10px;
	display: block;
	background-color: white;
	text-align: center;
	}
body{
	font-family: IRANSans;
	background-color: $background_color;
	text-align: right;
	font-size: 18px;
}
.title{
	h4{
		font-size: 24px !important;
		font-weight: 700 !important;
		margin-bottom: 15px;
		span{
			font-size: 24px !important;
			font-weight: 700 !important;
		}
	}
		span{
			color: #7a7a7a;
			font-size: 18px;
			font-weight: 400;
			line-height: 35px;
		}
	}

.img-fluid{
	max-width:100%;
	height:auto
}

/*--------------------------------- Web design sec -------------------------------------*/
.web_design_sec{
	position: relative;
	padding: 221px 0;
	&::before{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		content: '';
		height: 100%;
		width: 40%;
		border-radius: 0 140px 140px 0;
		background-color: #f9f9f9;
	}
	&__text{
		color: $text_color;
		.title{
			h4{
				color: $accent_color;
				margin-top: 30px;
			}
			span{
				color: $text_color;
			}
		}
	}
	&__go_bottom{
		position: absolute;
		bottom: 0;
		right: 50%;
		transform: translateX(-50%);
		padding: 40px;
		border-radius: 50%;
		box-shadow: 0 15px 30px rgba(56, 66, 77, 0.08);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #ffffff 0%, #f9f9f9 100%);
	}
}

//------------- Design effect section -------------
.design_effect{
	padding-top: 89px;
&__content{
	font-size: 18px;
	padding-right: 47px;
	padding-top: 218px;   
.title{
	margin-bottom: 10px;
	h4{
		font-size: 24px ;
		font-weight: 700;          
		color: $accent_color;
		margin-bottom: 17px;
	}
}
}
}

//Media queries

//---------------------- > 1200px ----------------------
@media only screen and( min-width: 1200px ){
	//Design_effect Section
		.design_effect{
			padding-left: 377px;
	}
	}

/*----------------------< 1200px ------------------------*/
@media only screen and (max-width: 1200px){
	//Design_effect Section
    .design_effect{
        padding-left: 20px;
    &__content{
        padding-right: 20px;
        padding-top: 50px;
    }
}
	.web_design_sec__text{
		margin-bottom: 30px;
	}

	.your_position{
		.content_wrapper{
			top: 17%;
		}
		.text{
			margin-bottom: 10px;
			p{
				padding-left: 20px;
			}
		}
		.categories_title_list{
			margin-bottom: 10px; 	
		}
	}
}

/*----------------------< 450px ------------------------*/
@media only screen and (max-width: 450px){
	section{
		margin-left: 10px;
		margin-right: 10px;
	}
}